<style>
  #app {
    max-width: 666px;
    margin: auto;
  }

  #app .item {
    padding-top: 15px;
    border-bottom: 1px solid #eee;
  }
</style>
<div id="app"></div>
<script src="talking.dev.js"></script>
<script>
  new Talking(() => {
    return {
      el: document.querySelector('#app'),
      apiUri: 'http://localhost:5000/api/comments',
      render: (item) => `
        <div class="item">
          <span>${item.owner.name}</span>
          <a href="mailto:${item.owner.email}">${item.owner.email}</a>
          <span>${new Date(item.utcCreated).toLocaleString()}</span>
          <p>${item.htmlText}</p>
        </div>
      `
    }
  });
</script>
